<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite" parallel="tests">
  <test name="Firefox Test">
  <parameter name="sBrowser" value="firefox"></parameter>
    <classes>
      <class name="com.demo.Test2"/>
      <class name="com.demo.Test3"/>
      
    </classes>
    </test>
    <test name="Chrome Test">
    <parameter name="sBrowser" value="chrome"></parameter>
    <classes>
      <class name="com.demo.Test2"/>
      <class name="com.demo.Test3"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
